/* .owl {
  margin: 20px;
} */
.owl-title {
  padding-left: 16px;
  font-family: TripBold-700;
}
.carousel {
  overflow: hidden;
  cursor: grab;
}
.inner-carousel {
  display: flex;
}
.item {
  width: 300px;
  height: 400px;
  margin: 15px 10px;
  color: black;
  text-decoration: none;
}
.item img {
  width: 300px;
  height: 280px;
  pointer-events: painted;
}
.restaurant {
  font-size: medium;
  font-weight: bold;
  padding: 10px 0px;
  margin: 0%;
}
