.search-dropdown {
  padding: 0.9rem 0;
  border-radius: 0.3rem;
  max-width: 85%;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-left: 2rem;
  /* z-index: 2000; */
  max-height: 350px;
  overflow-y: scroll;
}

.dropdown-item-search {
  text-decoration: none;
  color: black;
  margin: 0 0.3rem;
  font-size: 1.1rem;

}
.paragraph-drop-search {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgb(197, 194, 194);
  margin-bottom: 0 !important;
  padding: 10px 0px;
}
.paragraph-drop-search:hover {
  background-color: rgba(84, 224, 30, 0.1);
}

.dropdown-item img {
  margin-right: 0.7rem;
}
.drop-down-search-span{
  width: 90% !important;
  white-space: nowrap !important;
  text-overflow: ellipsis;
  overflow: hidden;
}