.NavbarItems-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
  z-index: 99999;
  border-bottom: 1px solid rgb(212, 211, 211);
  padding: 0.5rem 0rem;
  position: relative;
  transition: top 0.5s ease;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: top 0.3s ease ease-in-out;
  opacity: 1;
  transform: translateY(0);
}
.nav-logo-container .navbar-logo {
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
}
.nav-left-side {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-left-side h3 {
  font-family: TripBold-900;
}
.nav-inner-side ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0rem 1rem;
}
.nav-inner-side ul li:hover {
  color: black;
}

.nav-inner-side ul li {
  margin: 0px 10px;
  font-size: 1rem;
  cursor: pointer;
}

.nav-logo-container {
  width: 3.125rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.Navbar-Search input {
  border-radius: 1rem;
  border: 1px solid rgb(190, 189, 189);
  margin-left: 1rem;
  padding: 0.1rem 2rem;
}
.nav-right-side {
  justify-content: flex-end;
  align-items: center;
}
.nav-right-side img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.nav-right-side button {
  padding: 0.3rem 1rem;
  align-self: flex-end;
  white-space: nowrap;
  border-radius: 30px;
  font-weight: 600;
  border: 1ren;
  color: #fff;
  background-color: #000;
  transition: 0.5s ease-in-out;
  justify-content: flex-end;
}

button:hover {
  background-color: #222222;
}

.NavbarItems {
  z-index: 999;
}

.menu-icons {
  visibility: hidden;
}

@media (width<780px) {
  .nav-left-side,
  .nav-inner-side,
  .nav-right-side {
    justify-content: center;
  }
}
