.footer{
    background-color: rgb(255, 225, 241);
    padding: 30px;
}
.footer-table{
    display: flex;

}
.table{
    width:"60%"
}
td{
    width: 33.33%;
    font-size:13px;
}
td:hover{
    text-decoration: underline;
    opacity: 0.6;
}
.objective{
    width: 40%;
}
.travellya {
    width: 60px;
    height: 50px;
    border-radius: 50%; 
}
.icon-text{
    display: flex;
}